button {
    width: 100%;
    height: 100%;
}

.card {
    max-width: 100%;
    margin-bottom: 10px;
    padding-bottom: 5px;
    max-height: 100%;
}

.btn-set0 {
    background-color: pink !important;
    
}

.btn-set1 {
    background-color: greenyellow !important;
}

.btn-set2 {
    background-color: lightblue !important;
}

.btn-set3 {
    background-color: yellow !important;
}

.btn-set4 {
    background-color: #F9BD4F !important;
}

.btn-set5 {
    background-color: #df4ff9 !important;
}

.btn-set6 {
    background-color: #4ff9eb !important;
}

.btn-set7 {
    background-color: #f94f57 !important;
}

.btn-set8 {
    background-color: #d4f94f !important;
}
.btn-set9 {
    background-color: #b18af0;
}

.tileComponent {
    height: 100%;
    align-self:flex-start;
}
